body {
    margin:0;
}
main {
   display: grid;
   grid-template-columns: repeat(4, 40px);
   grid-template-rows: repeat(4, 40px);
   gap: 2px;
}
main > input {
background-color: black;
color:pink;
border: none;
}
main > input:hover{
    background-color: darkgray;
    color: white;
    cursor: pointer;
}
main > input:active {
background-color: #222;
color: white;
}